      <footer class="site-footer clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="copyright">&copy; {{ site.author_cn }} 2012-1015 tangping.php@qq.com</p>
          <p style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5834962'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D5834962' type='text/javascript'%3E%3C/script%3E"));</script></p>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
